{% extends 'user_navigation.html' %}
{% load static %}
{% block body %}
<div class="container mt-5">
    <h2 class="text-center">EDIT PROFILE</h2>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" value="{{data.user.first_name}}" name="fnm">
                    </div>
                
                
                    <div class="form-group col-sm-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" value="{{data.user.last_name}}" name="lnm">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email ID</label>
                        <input type="text" class="form-control" value="{{data.user.username}}" name="emailid" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Contact</label>
                        <input type="text" class="form-control" value="{{data.contact}}" name="contact">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Branch</label>
                        <select class="form-control" name="branch">
                            <option value="Computer Science">Computer Science</option>
                            <option value="Information Technology">Information Technology</option>
                            <option value="ECE">ECE</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="Electrical Engineering">Electrical Engineering</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 mt-2">
                            <br>
                            <input type="text" value="{{data.branch}}" class="form-control" readonly>
                    </div>
                </div>
                <input type="submit" value="UPDATE" class="btn btn-primary mt-4">
            </form>
        </div>
    </div>
    

</div>
{% ifequal error "no" %}
<script>
    alert('Profile Updated Successfully');
    window.location="{% url 'user_profile' %}"
</script>
{% endifequal %}

{% endblock %}