{% extends 'admin_nav.html' %}
{% load static %}
{% block body %}
<script src="//code.jquery.com/jquery-3.7.0.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
<script>
    $(document).ready(function(){
        $('#mytable').DataTable();
    })
</script>
<div class="container mt-5">
    <h2 class="text-center">VIEW USERS</h2>
    <hr>
    <table class="table table-bordered" id="mytable">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Full Name</th>
                <th>Email Id</th>
                <th>Contact</th>
                <th>Branch</th>
                <th>Roll</th>
                <th>Action</th>
            </tr>
        </thead>
            
            <tbody>
                {% for i in users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td style="text-transform: capitalize;">{{i.user.first_name}} {{i.user.last_name}}</td>
                    <td>{{i.user.username}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.branch}}</td>
                    <td>{{i.role}}</td>
                    <td><a href="{% url 'delete_users' i.user.id %}" class="btn btn-danger"
                            onclick="return confirm('Warning!')">DELETE</a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}